<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <span class="brand-name">Marson Psicologia</span>
      <p class="footer-crp">Diego Marson • Psicólogo & Neuropsicólogo • CRP 06/&#8203;133458</p>
      <p class="footer-locations">{{ 'home.footer.locations' | translate }}</p>
    </div>
    <p class="footer-ethical">{{ 'home.footer.ethicalNotice' | translate }}</p>
    <small class="footer-copy">{{ 'home.footer.copyright' | translate }}</small>
  </div>
</footer>
